@import '../../../styles.scss';
.combatList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
    .combatControls{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
  
    .innerFlex{
      display: flex;
      width: 100%;
  
      &.handset{
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
      }
  
      &.medium, &.full{
        flex-direction: row;
        justify-content: center;
        align-content: flex-start;;
      }
  
      div.mat-table{
  
        &.handset, &.medium{
          width: 100%;
        }
  
        &.full{
          width: 100%;
        }
        div.mat-row{
          div.combatName, div.combatHp, div.combatInit{
            width: 50%;
            margin-left: 10px;
          }
  
          &.dead{
            div.combatName, div.combatHp, div.combatInit{
              color: lightgray;
            }
          }
        }
  
        div.combatName, div.combatHp, div.combatInit{
          width: 50%;
          margin-left: 10px;
        }
  
        div.combatSelect{
          display: flex;
          justify-content: flex-end;
        }
      }
  
      .monsterDetail{
        padding: 10px;
        width: 0%;
      }
    }
  }
  
  .icon-button{
    cursor: pointer;
    &.right{
      float: right;
    }
  }
  
  .tableInput{
    width: 60px !important;
  }
  
  .CRBlock{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    div{
      margin-left: 12px;
    }
  }